
.list-items{
    border: 1px solid red;
    height: 30vh;
    list-style-type: none;
    padding: 10px;
  }
  
  .item-even, .item-odd {
      display: flex;
      align-items: center;
      width: 100%;
      justify-content: space-between;
      height: 4vh;
      padding: 0 5px;
  }

  .item-even{
    background-color: #f1f1f1;
  }
  
  .item-odd{
    background-color: #fcfcfc;
  }