
.list-items{
    height: 30vh;
    list-style-type: none;
    padding: 10px;
    background-color: #fcfcfc;
    margin: 0;
    font-size: 0.9rem;
    color: #303030;
  }
  
  .item-even, .item-odd {
      display: flex;
      align-items: center;
      width: 100%;
      justify-content: space-between;
      height: 4vh;
      padding: 0 5px;
  }

  .item-even{
    background-color: #f1f1f1;
  }
  
  .item-odd{
    background-color: #fcfcfc;
  }